<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.ssm.Mapper.alreadyBuyMapper">
<select id="showAllBuys" resultType="com.org.ssm.Pojo.appraise">
    select alreadybuy.a_id, user.u_nicheng,goods.g_name,goods.g_price,goods.g_image,alreadybuy.a_appraise,
    alreadybuy.a_time from user,goods,alreadybuy where a_uid=u_id and a_gid=g_id
</select>
    <delete id="delBuysById" parameterType="java.lang.Integer">
        delete from alreadybuy where a_id=#{aId}
    </delete>
    <!--模糊查询-->
    <select id="search" parameterType="com.org.ssm.Pojo.appraise" resultType="com.org.ssm.Pojo.appraise">
        select alreadybuy.a_id, user.u_nicheng,goods.g_name,goods.g_price,goods.g_image,alreadybuy.a_appraise,
    alreadybuy.a_time from user,goods,alreadybuy
      where  a_uid=u_id and a_gid=g_id
  <if test="uNiCheng!=null and uNiCheng!=''">
            and user.u_nicheng like '%${uNiCheng}%'
  </if>
  <if test="gName!=null and gName!=''">
            and goods.g_name like '%${gName}%'
  </if>

    </select>
</mapper>